---
// src/pages/posts/[...slug].astro
import { getCollection, render } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const allPosts = await getCollection('posts');
  return allPosts.map((post) => {
    const slugSegments = post.id.split('/');
    return {
      params: { slug: slugSegments },
      props: { post },
    };
  });
}

const { post } = Astro.props;
const { Content } = await render(post);
const frontmatter = post.data;
---

<Layout title={frontmatter.title}>
  <article class="prose mx-auto">
    <h1>{frontmatter.title}</h1>
    <p class="text-sm text-gray-500">{frontmatter.date}</p>
    <Content />
  </article>
</Layout>
