
---
import Layout from '../../layouts/Layout.astro';
export async function getStaticPaths() {
  const glob = import.meta.glob('../../content/posts/*.mdx');
  return Object.keys(glob).map((file) => {
    const slug = file.split('/').pop().replace('.mdx', '');
    return { params: { slug } };
  });
}
const { Content } = await Astro.fetchContent('../../content/posts/' + Astro.params.slug + '.mdx');
---
<Layout title={Content.frontmatter.title}>
  <article class="prose mx-auto">
    <h1>{Content.frontmatter.title}</h1>
    <p class="text-sm text-gray-500">{Content.frontmatter.date}</p>
    <Markdown>{Content.content}</Markdown>
  </article>
</Layout>
